.location {
  background-image: url("https://arc-cms-prod.imgix.net/content/2023-12/Tile2_32_Crop.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;

  &__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    height: 100vh;
    justify-content: space-between;
  }

  &__heading {
    flex-grow: 1;
  }

  &__button {
    &:hover {
      background-color: white;
      border-color: white;
      color: black;
    }

    &--location {
      background-image: url("https://www.iconpacks.net/icons/2/free-location-icon-2955-thumb.png");
      background-position: 0.75rem 0.5rem;
      background-repeat: no-repeat;
      background-size: 1.75rem;
    }
  }

  &__logo {
    width: 8rem;
  }
}
